@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;700;800;900&family=Nanum+Myeongjo&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #ee694a;
  --color-secondary: #aa482f;
  --color-background: #faf6eb;
  --color-text: #333333;

  --font-family-header: "Nanum Myeongjo", serif;
  --font-family-body: "Inter", sans-serif;
}

/* Global styles */
/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

.container {
  max-width: 1235px;
  margin: 0 auto;
  padding: 1rem;
}

@layer base {
  body,
  h1 {
    font-family: var(--font-family-body);
  }

  h2,
  h3,
  h4 {
    font-family: var(--font-family-header);
  }
}

@layer base {
  body {
    @apply bg-[#faf6eb] text-[#33302a];
    font-family: var(--font-family-body);
  }

  h1 {
    @apply text-2xl font-bold text-primary py-2;
  }

  h2 {
    @apply text-xl font-bold text-[#663e2f];
  }

  h3 {
    @apply text-lg font-bold  text-primary pt-3 pb-0 mb-0;
    font-family: var(--font-family-body);
  }

  h4 {
    @apply text-lg font-bold leading-tight;
  }

  a {
    @apply text-primary font-semibold;
  }

  a:hover {
    @apply text-secondary;
  }

  footer a:hover {
    @apply text-background;
  }
}

@layer components {
  .container {
    @apply max-w-screen-lg mx-auto px-5;
  }

  .card p {
    @apply text-sm leading-loose;
  }
}

.nav-menu {
  opacity: 0;
  position: absolute;
  right: 0;
  top: 3.3rem;
  background-color: var(--color-background);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1);
  transform: translateX(100%);
  height: 0;
  transition: all 500ms;
}

@media (min-width: 1024px) {
  .nav-menu {
    opacity: 1;
    position: relative;
    top: 0;
    box-shadow: none;
    transform: translateX(0);
    height: 100%;
  }
}

.nav-menu.open {
  opacity: 1;
  transform: translateX(0);
  height: auto;
}
