---
import Layout from '../layouts/Layout.astro';
---

<Layout title="404">
  <div class="container flex flex-col justify-center items-center">
   
  
      <h2 class="text-7xl font-header text-primary pt-20 lg:pt-40">Well, Damn.</h>
      <h2 class="py-4">404 - Page Not Found</h2>
      <h2>Try one of the links up top. We checked those, so hopefully they&rsquo;ll work.</h2>
      
     
     
    
  </div>
</Layout>