---
import Layout from '../layouts/Layout.astro';
import HomeBook from '../components/HomeBook.astro';
import BookGrid from '../components/BookGrid.astro';
---

<Layout title="Books - Andrew Amelinckx">
  <div class="container">
    <h1>Books</h1>
    <div class="space lg:h-20"></div>
    <HomeBook />
  </div>

  <BookGrid />
</Layout>
