---
import Layout from '../layouts/Layout.astro';
import MainHeader from '../components/MainHeader.astro';
import HomeBook from '../components/HomeBook.astro';
import BookGrid from '../components/BookGrid.astro';
---

<Layout title="Andrew Amelinckx - Author">
  <div>
    <MainHeader />
    <HomeBook />
    <BookGrid />
  </div>
</Layout>