---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Press - Andrew Amelinckx">
  <div class="container flex flex-col md:flex-row space-y-5 sm:space-y-0">
  <div class="flex flex-col space-y-6 ">
      <h1>Media Inquiries </h1>
      <p class="pb-5">
        For media inquiries, review copies or author appearances for <em>Satellite Boy</em> please contact:
        <br />
        <strong>Lena Moses-Schmitt</strong>
        <br />
        Assistant Director of Publicity <br />
        Counterpoint / Soft Skull / Catapult
        <br />
        2560 Ninth Street, Suite 318
        <br />
        Berkeley, CA 94710
        <br />
        lena.moses-schmitt@counterpointpress.com
        <br />
      </p>
      <p class="pb-5">
        For Andrew’s other books please contact: <br />
        <strong>Kait Leggett</strong>
        <br />
        Sales & Marketing Coordinator
        <br />
        Arcadia Publishing & the History Press
        <br />
        kleggett@arcadiapublishing.com
        <br />
      </p>

      <h1>Reviews/Press</h1>
      <p>
        “The quintessentially Space Age story of how the perfecter of the
        geostationary satellite scuttled the career of a Montreal bank robber…
        Mr. Amelinckx is an adroit storyteller and thorough researcher, and in
        <em>Satellite Boy</em> he has written a good, engrossing yarn.”{" "}
        <em>——Wall Street Journal</em>
      </p>
      <p>
        “Amelinckx’s storytelling is a compelling way to help us make
        connections to historical events, allowing the reader into the political
        and social zeitgeist and to take stock of the possibilities of our
        species in dark times.” —Matt Henderson, <em>Winnipeg Free Press</em>
      </p>

      <p>
        “There are plenty of books on thrilling heists and the lives of skilled
        thieves out there—but most of them don’t dovetail neatly in with the
        annals of mass communication. With his book Satellite Boy, Andrew
        Amelinckx takes the reader back to the 1960s and to a place where two
        unlikely worlds converged. Think Heat by way of Marshall McLuhan.”
        —Tobias Carroll, <em>InsideHook</em>
      </p>

      <p>
        “A great story . . . It reads like a set piece from Ocean’s Eleven . . .
        Entertaining.” —Betsy Maury, <em>Chronogram</em>
      </p>

      <p>
        “As with Erik Larson’s <em>The Devil in the White City</em>, Amelinckx
        develops his two narratives suspensefully and in excellent historical
        detail before braiding them together with the skill of a master weaver.
        No account of the technocratic 1960s is complete without this thrilling
        tale.”<em> —Booklist</em>
      </p>
      <p>
        "This colorful . . . dual biography mashes together the lives of
        Canadian bank robber Georges Lemay and American engineer Harold Rosen .
        . . Amelinckx lucidly explains the technical aspects and spotlights the
        boon communication satellites provided to law enforcement agencies."{" "}
        <em>—Publishers Weekly</em>
      </p>

      <p>
        "Entertaining and colorful . . . Amelinckx’s book is ideal for both
        true-crime and technology buffs." <em>—Library Journal</em>
      </p>

      <p>
        "Hardened criminal meets the slide rule in a historical true-crime tale
        . . . There are some nice twists and turns . . . True-crime buffs and
        historians of technology will find points of interest."{" "}
        <em>—Kirkus Reviews</em>
      </p>

      <p>
        "An astonishing story from an astonishing era that will leave you
        wondering, how is it possible I never heard of this before? That’s
        because it took the brilliant investigative journalism and masterful
        storytelling of Andrew Amelinckx to finally piece it all together and
        bring it to life. All I can say is . . . Wow! Ocean’s Eleven meets 007,
        but it’s all true! An artful masterpiece that will leave you breathless.
        Good luck putting this one down." —Peter Houlahan, author of
        <em> Norco '80</em>
      </p>

      <p>
        "With a master storyteller's gift for character, pacing, suspense, and
        detail, Amelinckx transports us from Montreal’s underworld to Havana,
        Miami, Cape Canaveral, Los Angeles, and Las Vegas, all the while
        balancing two extraordinary narratives whose arcs will inevitably
        intersect. Amelinckx captures the riveting, cat-and-mouse game between
        Lemay, a dashing and wily arch criminal whose high-stakes exploits
        mesmerized all of Canada, and frustrated law enforcement officers in
        both the U.S. and Canada, whom Lemay manages time and again to outfox.
        While Lemay enjoys life on the lam, Harold Rosen, a visionary engineer,
        is developing a science fiction fantasy into the world’s first
        geosynchronous satellite, a technology that will transform
        communications and put an end to Lemay’s freedom. In Satellite Boy,
        Amelinckx deftly intertwines the unforgettable tales of these two men,
        weaving a crisp and vivid, historical page-turner —James Campbell,
        author of <em>Braving It</em>
      </p>

      <p>
        "Andrew Amelinckx's Satellite Boy is a remarkable blend of good and
        evil, weaving together the stories of two masterminds—one a technical
        genius, one a murderous criminal—and the rise of a communications
        technology that connects both their lives. It's science, it's mystery,
        and it's a wholly addictive read." —Deborah Blum, author of{" "}
        <em>The Poisoner's Handbook: Murder</em> and{" "}
        <em>the Birth of Forensic Medicine in Jazz Age New York</em>
      </p>

      <p>
        "Satellite Boy combines a high drama caper tale with a pitch-perfect
        examination of an era when technology felt breathtakingly new—if not
        impossible. Amelinckx's characters are vivid and compelling, the period
        details are lived in and authentic, and the story good and true. You'll
        rocket right through." —Joe Drape, New York Times bestselling author of{" "}
        <em>
          Our Boys: A Perfect Season on the Plains with the Smith Center Redmen
        </em>
      </p>

      <p>
        "Satellite Boy by Andrew Amelinckx is one of the most entertaining,
        original, and informative stories I've read in a long, long time. It
        vividly brings to life the audacious and high-flying decade of the 1960s
        and demonstrates how our most important technological innovations
        sometimes come from the unlikeliest of circumstances. Amelinckx
        masterfully combines crime, high tech, and history into a crackling
        page-turner. And, amazingly, every word of it is true. Don't miss it!"
        —David Bell, USA Today bestselling author of <em>She's Gone</em> and{" "}
        <em>The Finalists</em>
      </p>

      <p>
        The Ivy League Murders{" "}
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://share.transistor.fm/s/97cad913"
        >
          &nbsp;Halloween Special Podcast
        </a>
      </p>
      <p>
        Andrew was featured in a 2016 episode of the Oxygen Network’s
        true-crime&nbsp;
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.oxygen.com/snapped"
        >
          television show “Snapped”
        </a>
        &nbsp;about convicted killer Patricia Olsen.
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.berkshireeagle.com/lifestyle/book-history-of-murder-mayhem-in-berkshires/article_4e91dd7d-6c25-52f0-a55d-2f47adc55188.html"
        >
          “Book: History of murder, mayhem in Berkshires”
        </a>
        &nbsp;<em>Berkshire Eagle</em>
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.timesunion.com/tuplus-features/article/Local-books-6707570.php"
        >
          “Local Books”
        </a>
        &nbsp;<em>Times Union</em>
      </p>

      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://www.masslive.com/news/2015/11/new_book_recounts_crimes_in_th.html"
        >
          “New book recounts crimes in the Berkshires during 'the Gilded Age”
        </a>
        &nbsp;<em>MassLive</em>
      </p>

      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://web.archive.org/web/20160323204004/https://modernfarmer.com/2015/10/blood-on-the-farm-the-double-murder-that-shocked-the-nation/"
        >
          “Blood on the Farm: The Double Murder that Shocked the Nation”
        </a>
        &nbsp;<em>Modern Farmer</em>
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://the-line-up.com/william-coy-berkshires"
        >
          “Murder in the Berkshires: The William Coy Axe Killing”
        </a>
        &nbsp;<em>The Lineup</em> “New Book Details Gilded"
      </p>
      <p>
        <a
          href="https://www.wamc.org/new-england-news/2015-10-14/new-book-details-gilded-age-murders-and-crimes-in-berkshires
"
        >
          “Age Murders And Crimes In Berkshires”
        </a>
        &nbsp;<em>WAMC</em>
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://ruralintelligence.com/arts/crime-in-the-gilded-age-grislier-than-you-might-expect-2"
        >
          “Crime In The Gilded Age? Grislier Than You Might Expect“
        </a>
        &nbsp;<em>Rural Intelligence</em>
      </p>

      <p>
        <a
          href="https://www.poughkeepsiejournal.com/story/life/2017/06/28/former-crime-reporter-pens-hudson-valley-murder-and-mayhem/433833001/
"
        >
          “Former crime reporter pens ‘Hudson Valley Murder and Mayhem’”
        </a>
        &nbsp;<em>Poughkeepsie Journal</em>
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href="https://hvmag.com/life-style/the-hudson-valleys-bloody-past/"
        >
          "The Hudson Valley’s Bloody Past.”
        </a>
        &nbsp;<em>Hudson Valley Magazine</em>
      </p>

      <p>
        <a
          href="https://www.chronogram.com/hudsonvalley/short-takes-july-2017/Content?oid=2818285
"
        >
          “Short Takes: July 2017”
        </a>
        &nbsp;<em>Chronogram</em>
      </p>
      <p>
        <a
          target="_blank"
          rel="noreferrer noopener"
          href=" https://tricornernews.com/true-crime-tales-hudson-valley"
        >
          “True Crime Tales From The Hudson Valley”
        </a>
        &nbsp;<em>The Lakeview Journal/The Millerton News</em>
      </p>
      
    </div></div>
</Layout>