---
import SocialMedia from './SocialMedia.astro';

const currentYear = new Date().getFullYear();
---

<footer>
  <div class="bg-secondary text-background">
    <div class="container !py-3 w-full flex flex-col sm:flex-row justify-between items-center mx-auto text-sm gap-4">
      <p class="opacity-70">
        &copy; {currentYear} Andrew Amelinckx
      </p>
      <div>
        <SocialMedia />  
        <p class="py-2">
        <a href="/privacy-terms">Privacy & Terms</a></p>
      </div>
    </div>
  </div>
</footer>