---
---

<div class="flex space-x-3 text-xl">
  <a
    class="hover:text-[--color-primary] transition-colors"
    href="https://www.facebook.com/AndrewAmelinckx.writer"
    target="_blank"
    rel="noreferrer"
    aria-label="Facebook"
  >
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M18 2h-3a5 5 0 00-5 5v3H7v4h3v8h4v-8h3l1-4h-4V7a1 1 0 011-1h3z"></path>
    </svg>
  </a>
 
  <a
    class="hover:text-[--color-primary] transition-colors"
    href="https://www.instagram.com/andrewamelinckx/"
    target="_blank"
    rel="noreferrer"
    aria-label="Instagram"
  >
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <rect x="2" y="2" width="20" height="20" rx="5" ry="5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></rect>
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 11.37A4 4 0 1112.63 8 4 4 0 0116 11.37z"></path>
      <line x1="17.5" y1="6.5" x2="17.51" y2="6.5" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></line>
    </svg>
  </a>
  <a
    class="hover:text-[--color-primary] transition-colors"
    href="https://www.linkedin.com/in/andrew-amelinckx-0114889/"
    target="_blank"
    rel="noreferrer"
    aria-label="LinkedIn"
  >
    <svg class="w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24">
      <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M16 8a6 6 0 016 6v7h-4v-7a2 2 0 00-2-2 2 2 0 00-2 2v7h-4v-7a6 6 0 016-6zM2 9h4v12H2z"></path>
      <circle cx="4" cy="4" r="2" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"></circle>
    </svg>
  </a>
</div>